.tweetsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 0;
  justify-items: center;
}

.btnLoadMore {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  background-color: #000;
  border: solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: solid whitesmoke;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnLoadMore:focus,
.btnLoadMore:hover {
  background-color: #fff;
  color: #000;
}
